/*!---------------------------------------------------------- universal design */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: cursive;
 color: white;
}
body {
  background-color: #44aff2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
/* !--------------------------------------------------start welcome screen style */
#w-s-c {
  display: flex;
  margin: 3%;
  padding: 20px;
  width: 90%;
  height: 90dvh;
  background-color: white;
  border-radius: 20px;
}
#logo-c {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ebecf0ff;
  width: 50%;
  height: 100%;
}

#logo {
  height: 40%;
  background-color: transparent;
}
#start-c {
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
}
#websiteDescription {
  color: gray;
}
#start-btn {
  cursor: pointer;
  color: white;
  font-size: medium;
  padding: 10px 40px;
  border: 0px;
  border-radius: 20px;
  background-color: #44aff2;
}
/* !--------------------------------------------------end welcome screen style */

/*!---------------------------------------------------start style main screen */

/*!------------------------current location&weather  */
#m-s-c {
  justify-content: center;
  align-items: center;
  display: flex;
gap: 10px;
  width: 100%;
  height: 100dvh;
  background-color: #4AB0D9;
}

#currentLocationSection {
    color: white;
  width: 30%;
  height: 70%;
  padding: 3%;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right,#c3c6c9,#0b4b84);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}


#temperature{
font-size: 70px;
}

#H-W-C{
    padding: 10px;
    width: 100%;
    align-items: center;
     display: flex;
    justify-content: space-between;

   
   
}

/*!------------------------forrest card  */
#forrestContainer{
     width: 60%;
  height: 70%;
  padding: 3%;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right,#1880e9,#333639);
  display: flex;
 flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}

#forrestInfo{
    padding: 10px;
    width: 100%;
    height: 40%;
    align-items: center;
     display: flex;
    justify-content:space-between ;   
}