/*!---------------------------------------------------------- universal design */
*{
    box-sizing: border-box;
    margin: 0;
    font-family: cursive
}
body{
    background-color: #44AFF2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
/* !--------------------------------------------------start welcome screen style */
#w-s-c{
    display: flex;
   margin: 3% ;
   padding: 20px;
    width:90%;
    height: 90dvh;
    background-color: white;
    border-radius: 20px; 
    
}
#logo-c{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #EBECF0ff;
    width:50%;
    height: 100%;
}

#logo{
    
    height: 40%;
background-color:transparent ;
}
#start-c{
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    width:50%;
    height: 100%;
}
#websiteDescription{
    color: gray;
}
#start-btn{
    cursor: pointer;
    color:white;
    font-size: medium;
    padding :10px 40px;
    border: 0px;
    border-radius: 20px;
    background-color: #44AFF2;
}
/* !--------------------------------------------------end welcome screen style */



/*!---------------------------------------------------start style main screen */
#m-s-c{
    justify-content: center;
    align-items: center;
    display: flex;
  
    width:100%;
    height: 100dvh;
    background-color: #777e85;
    
    
}
